# Imports the shared Azure CI tools from the master branch of shotgunsoftware/tk-ci-tools
resources:
  repositories:
    - repository: templates
      type: github
      name: shotgunsoftware/tk-ci-tools
      ref: refs/heads/ui_automation_on_azure
      endpoint: shotgunsoftware

# We want builds to trigger for 3 reasons:
# - The master branch sees new commits
# - Each PR should get rebuilt when commits are added to it.
# - When we tag something
trigger:
  branches:
    include:
    - master
  tags:
    include:
    - v*
pr:
  branches:
    include:
    - "*"

# This pulls in a variable group from Azure. Variables can be encrypted or not.
variables:
- group: deploy-secrets

# Launch into the build pipeline.
jobs:
- template: build-pipeline.yml@templates
  parameters:
    has_ui_tests: true
    has_unit_tests: false
    tk_toolchain_ref: ui_automation_on_azure
    additional_repositories:
    - name: tk-framework-qtwidgets
      ref: master
    - name: tk-framework-shotgunutils
      ref: master
    - name: tk-shell
      ref: master
