# Imports the shared Azure CI tools from the master branch of shotgunsoftware/tk-ci-tools
resources:
  repositories:
    - repository: templates
      type: github
      name: shotgunsoftware/tk-ci-tools
      ref: refs/heads/master
      endpoint: shotgunsoftware

# We want builds to trigger for 3 reasons:
# - The master branch sees new commits
# - Each PR should get rebuilt when commits are added to it.
# - When we tag something
trigger:
  branches:
    include:
    - master
  tags:
    include:
    - v*
pr:
  branches:
    include:
    - "*"

# This pulls in a variable group from Azure. Variables can be encrypted or not.
variables:
- group: deploy-secrets

# Launch into the build pipeline.
jobs:
- template: build-pipeline.yml@templates
  parameters:
    # TODO remove this once a suitable fix for tk-core is merged to master.
    tk_core_ref: SG-13279_tk-multi-publish2_python3
    additional_repositories:
    - name: tk-framework-qtwidgets
      ref: master
    - name: tk-framework-shotgunutils
      ref: master
    - name: tk-shell
      ref: master
